body {
  background-color: lightblue;
}
h1 {
  background-color: red;
}
h2 {
  background-color: orange;
  opacity: 0.6;
}
.tagline {
}
.skills {
  background-color: yellow;
  text-shadow: 2px 2px 9px black;
}
.contact {
  background-color: red;
}

